
$brand_primary_colour: #a4c2d8;

section.Banner {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  .Banner__image {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    // height: 100vh;
    // height: 30%;
    overflow: hidden;
    position: relative;
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: -1;
    img {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: fixed;
      // bottom: 0;
      top: 0;
      overflow: hidden;
      z-index: -1;
    }
    // outline: 1px solid red;
  }
  .Banner__text {
    height: 50px;
    background: linear-gradient(0deg, rgba(255,255,255, 1), rgba(255,255,255, .5));
    // transform: translate(0%, -100%);
    padding: 9vh 5vh 9vh 50px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    color: #2d3e50;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    h1 {
      font-size: 7vh;
      margin: 1vh 0;
      font-weight: bold;
    }
    p {
      font-size: 3vh;
      margin: 2vh 0;
    }
  }
}

nav.Nav {
  $nav_height: 50px;
  height: $nav_height;
  position: sticky;
  top: 0px;
  background: $brand_primary_colour;
  box-shadow: 0px 10px 20px rgba(0,0,0,.3), inset 20px 10px 20px $brand_primary_colour, inset -20px 10px 20px $brand_primary_colour;
  ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    transition: .1s linear;
    .Nav__toggle {
      color: green;
      border: none;
      display: none;
      background: rgba(0,0,0,0);
      cursor: pointer;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      height: $nav_height;
      width: $nav_height;
      padding: 0;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      .Nav__toggle__icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        justify-content: center;
        .Nav__toggle--bar {
          height: 3px;
          width: 30px;
          background: #34495e;
          background: #ecf0f1;
          border-radius: 2px;
          margin: 3px 10px;
          transition: .3s linear;
          // margin: 7px 4px;
        }
      }
    }
    span {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      transition: all .15s linear;
      &.Nav--logo {
        a {
          li {
            .qubes-logo-svg {
              height: $nav_height * .5;
              height: 22px;
              margin-right: 2px;
            }
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 22px;
          }
        }
      }
      &.Nav--items {
        &.invert {
          transform: translate(0, -100%);
        }
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3vw;
        cursor: pointer;
        transition: .1s linear;
        li {
          list-style-type: none;
          color: #fff;
          font-size: 18px;
        }
        &:hover {
          background: #70a0c2;
        }
      }
    }
  }
}

section.About {
  background: $brand_primary_colour;
  // min-height: 100vh;
  padding: 100px 0;
  .About__flex {
    display: flex;
    // align-items: center;
    .About__flex__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.image {
        .About__main_image {
          max-width: 100%;
          border-radius: 20px;
          box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
        }
      }
      &.text {
        padding: 100px;
      }
    }
  }
}


section.Gameplay {
  .Gameplay__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 50px;
    background-color: $brand_primary_colour;
    .Gameplay__grid--one {
      &.text { grid-column: span 2; }
      &.image { grid-column: span 1; }
    }
    .Gameplay__grid--two {
      &.text { grid-column: span 2; }
      &.image { grid-column: span 1; }
    }
    .Gameplay__grid--three {
      &.text { grid-column: span 2; }
      &.image { grid-column: span 1; }
    }
    img {
      max-width: 100%;
    }
  }
}


@media only screen and (max-width: 850px) {
  nav.Nav {
    ul {
      .Nav__toggle {
        color: red;
        display: flex;
      }
      span.Nav--items {
        flex-direction: column;
        background: $brand_primary_colour;
        box-shadow: 0px 10px 35px rgba(0,0,0,.3), inset 20px 10px 20px $brand_primary_colour, inset -20px 10px 20px $brand_primary_colour;
        position: absolute;
        top: 0;
        right: 0;
        // padding: 20px 0;
        visibility: none;
        display: none;
        opacity: 0;
        transition: visibility 0s, opacity .1s linear;
        li {
          padding: 3vw 6vw;

        }
      }
    }
    &.open {
      ul {
        span.Nav--items {
          display: flex;
          visibility: visible;
          opacity: 1;
        }
        .Nav__toggle__icon {

          .Nav__toggle--bar {
            margin-top:0;
            margin-bottom: 0;
            &.top {
              // transform: translate(-8px, 7px) rotate(-45deg);
              transform: translate(0, 100%) rotate(-45deg);
            }
            &.middle {
              // display: none;
              opacity: 0;
            }
            &.bottom {
              // transform: translate(-8px, -8px) rotate(45deg);
              transform: translate(0, -100%) rotate(45deg);
            }
          }
        }
      }
    }
  }
}
