* {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2d3e50;
}

html, body, section {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // width: 100vw;
}

.qubes-logo-svg {
  height: 100%;
  .qubes-logo-1 {
    fill: #fff;
  }

}

svg {
  .instructions-three-1 {
    fill: none;
  }
  .instructions-three-2 {
    fill: #fff;
  }
  .instructions-three-3 {
    clip-path: url(#clip-path);
  }
  .instructions-two-1 {
    fill: none;
  }
  .instructions-two-2 {
    clip-path: url(#clip-path);
  }
  .instructions-one-1 {
    fill: none;
  }
  .instructions-one-2 {
    fill: #fff;
  }
  .instructions-one-3 {
    clip-path: url(#clip-path);
  }
}
