<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Question Cubes</title>
  </head>
  <body>
    <div id="root">

    </div>
  </body>
  <script type="text/javascript" src="/js/d3.js"></script>
</html>
