<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Qubes</title>
  </head>
  <body>
    <section class="Banner">
      <div class="Banner__image">
        <img src="/img/qubes-banner-temp.jpg" alt="Qubes Banner Image">
      </div>
      <div class="Banner__text">
        <h1>QUBES</h1>
        <p>Question Cubes  |  A Constructor for Relationships</p>
      </div>
    </section>
    <nav class="Nav">
      <ul>
        <span class="Nav--logo">
          <a href="#">
            <li title="Qubes Home">
              <svg class="qubes-logo-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.35 62.67">
                <path class="qubes-logo-1" d="M412.33,311.35c5.75-5.51,8.22-12.13,8.22-20.66A30.45,30.45,0,0,0,417,275.91a24.48,24.48,0,0,0-10.08-10,30.54,30.54,0,0,0-14.78-3.52A31.59,31.59,0,0,0,376.81,266a26,26,0,0,0-10.48,10.4,30.74,30.74,0,0,0-3.73,15.14,28.16,28.16,0,0,0,3.69,14.4,25.48,25.48,0,0,0,10.34,9.87,30.92,30.92,0,0,0,14.74,3.52,34,34,0,0,0,6.71-.65L416.51,325l4.44-2Zm-35.75-14.68a4.56,4.56,0,1,1,4.56-4.56A4.57,4.57,0,0,1,376.58,296.67Zm15.17,0a4.56,4.56,0,1,1,4.56-4.56A4.56,4.56,0,0,1,391.75,296.67Zm14.65,0a4.56,4.56,0,1,1,4.56-4.56A4.56,4.56,0,0,1,406.4,296.67Z" transform="translate(-362.6 -262.36)"/>
              </svg>
              ubes
            </li>
          </a>
        </span>
        <span class="Nav--items">
          <a href="#about">
            <li title="About the project">
                About
            </li>
          </a>
          <a>
            <li title="The issue to tackle">
              The Problem
            </li>
          </a>
          <a>
            <li title="Game in prison environments">
                Prison
            </li>
          </a>
          <a>
            <li title="Social Penetration Theory">
              Social Theory
            </li>
          </a>
          <a>
            <li title="Future development possibilities">
              Futures
            </li>
          </a>
          <!-- <li title="Design Against Crime"><a>DAC</a></li> -->
          <a>
            <li title="Contact Info">
              Contact
            </li>
          </a>
        </span>
        <button class="Nav__toggle">
          <span class="Nav__toggle__icon">
            <span class="Nav__toggle--bar top"></span>
            <span class="Nav__toggle--bar middle"></span>
            <span class="Nav__toggle--bar bottom"></span>
          </span>
        </button>
      </ul>
    </nav>
    <section class="About" id="about">
      <div class="About__flex">
        <div class="About__flex__section image">
          <img src="/img/qubes-contruct-in-play.png" alt="The Qubes game in play" class="About__main_image">
        </div>
        <div class="About__flex__section text">
          <h2>About</h2>
          <p class="first">Qubes -Question Cubes- is a group stacking game with questions, designed to build communication and strengthen relationships between incarcerated fathers and their children through engaging yet simple physical gameplay.</p>
          <p>In a time of rising prison population, deteriorating conditions and health, and the host of problems which feed into loops of deprivation and crime.</p>
          <p>Extending the category of Social Games, Qubes was inspired by ‘Captivated’, a project South Denmark University’s Social Games Against Crime team which sought to tackle the same issue of parental alienation in prison.</p>
        </div>
      </div>
    </section>
    <section class="Gameplay">
      <div class="Gameplay__grid">
        <div class="Gameplay__grid--one image">
          <img src="/img/instructions-one.png" alt="Game instructions one, image of hand taking Qube from the stack">
        </div>
        <div class="Gameplay__grid--one text">
          <h4>1) Take</h4>
          <p>The game works by players successively taking a brick out, without nocking the stack over. Players can use only one hand and cannot hold the stack, the player that crashes it loses all their points.</p>
        </div>
        <div class="Gameplay__grid--two text">
          <h4>2) Answer</h4>
          <p>Each brick, called a Qube, has two prompts written on it corresponding to a difficulty scale and level of intimacy intended to be invoked. The player picks a prompt, in one game mode the player answers the prompt themselves, in another you ask the next person and they respond.</p>
        </div>
        <div class="Gameplay__grid--two image">
          <img src="/img/instructions-two.png" alt="Game instructions two, image of someone holding a Qube to considder it's prompt">
        </div>
        <div class="Gameplay__grid--three image">
          <img src="/img/instructions-three.png" alt="Game instructions three, image of someone placing the Qube bcak on the stack">
        </div>
        <div class="Gameplay__grid--three text">
          <h4>2) Build</h4>
          <p>On successful answering of the question (judged by the consensus of the other players), the person receives in game currency, called ‘Squids’, corresponding with the colour / difficulty.</p>
          <p>If the player does not answer, they get no points and the round moves on. The player who pulled the brick must place it back on top, building a gradually more unstable stack until the game is over.</p>
        </div>
      </div>
    </section>
    <section style="height: 300vh; background: #3e3e3e;">
    </section>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
