<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Qubes</title>
  </head>
  <body>
    <section class="Banner">
      <div class="Banner__image">
        <img src="/img/qubes-banner-temp.jpg" alt="Qubes Banner Image">
      </div>
      <div class="Banner__text">
        <h1>QUBES</h1>
        <p>Question Cubes  |  A Constructor for Relationships</p>
      </div>
    </section>
    <nav class="Nav">
      <ul>
        <span class="Nav__logo">
          <li><a href="#">Qubes</a></li>
        </span>
        <span>
          <li><a>The Problem</a></li>
          <li><a>Prison</a></li>
          <li><a>SPT</a></li>
          <li><a>Futures</a></li>
          <li><a>Contact</a></li>
        </span>
      </ul>
    </nav>
    <section class="About">
      <div class="About__flex">
        <div class="About__flex__section image">
          <img src="/img/qubes-contruct-in-play.png" alt="The Qubes game in play" class="About__main_image">
        </div>
        <div class="About__flex__section text">
          <h2>About</h2>
          <p>Qubes is a group stacking game with questions, designed to build communication and strengthen relationships between incarcerated fathers and their children.</p>
          <p>Qubes uses practical physiological theories of relationship building and simple yet engaging gameplay to facilitate interactions, prompt insights and conversations and give people space and context to say things they otherwise never would.</p>
          <p>Qubes was designed in response to a rising prison population, deteriorating conditions and health, and the host of problems which feed into loops of deprivation and crime.</p>
          <p>Qubes was intended to extend and adapt from the Captivated project, by South Denmark University’s Social Games Against Crime team which sought to tackle the same issue.</p>
        </div>
      </div>
    </section>
    <section style="height: 300vh; background: #3e3e3e;">
    </section>
  </body>
</html>
