section.Banner {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh; }
  section.Banner .Banner__image {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    position: relative; }
    section.Banner .Banner__image img {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: fixed;
      top: 0;
      overflow: hidden;
      z-index: -1; }
  section.Banner .Banner__text {
    height: 50px;
    background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.5));
    padding: 9vh 5vh 9vh 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2d3e50;
    position: -webkit-sticky;
    position: sticky;
    top: 10px; }
    section.Banner .Banner__text h1 {
      font-size: 7vh;
      margin: 1vh 0;
      font-weight: bold; }
    section.Banner .Banner__text p {
      font-size: 3vh;
      margin: 2vh 0; }

nav.Nav {
  height: 50px;
  position: sticky;
  top: 0px;
  background: #a4c2d8;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), inset 20px 10px 20px #a4c2d8, inset -20px 10px 20px #a4c2d8; }
  nav.Nav ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    transition: .1s linear; }
    nav.Nav ul .Nav__toggle {
      color: green;
      border: none;
      display: none;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      height: 50px;
      width: 50px;
      padding: 0;
      flex-direction: column;
      align-items: stretch;
      justify-content: center; }
      nav.Nav ul .Nav__toggle .Nav__toggle__icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        justify-content: center; }
        nav.Nav ul .Nav__toggle .Nav__toggle__icon .Nav__toggle--bar {
          height: 3px;
          width: 30px;
          background: #34495e;
          background: #ecf0f1;
          border-radius: 2px;
          margin: 3px 10px;
          transition: .3s linear; }
    nav.Nav ul span {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      transition: all .15s linear; }
      nav.Nav ul span.Nav--logo a li {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 22px; }
        nav.Nav ul span.Nav--logo a li .qubes-logo-svg {
          height: 25px;
          height: 22px;
          margin-right: 2px; }
      nav.Nav ul span.Nav--items.invert {
        transform: translate(0, -100%); }
      nav.Nav ul span a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3vw;
        cursor: pointer;
        transition: .1s linear; }
        nav.Nav ul span a li {
          list-style-type: none;
          color: #fff;
          font-size: 18px; }
        nav.Nav ul span a:hover {
          background: #70a0c2; }

section.About {
  background: #a4c2d8;
  padding: 100px 0; }
  section.About .About__flex {
    display: flex; }
    section.About .About__flex .About__flex__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      section.About .About__flex .About__flex__section.image .About__main_image {
        max-width: 100%;
        border-radius: 20px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); }
      section.About .About__flex .About__flex__section.text {
        padding: 100px; }

section.Gameplay .Gameplay__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 50px;
  background-color: #a4c2d8; }
  section.Gameplay .Gameplay__grid .Gameplay__grid--one.text {
    grid-column: span 2; }
  section.Gameplay .Gameplay__grid .Gameplay__grid--one.image {
    grid-column: span 1; }
  section.Gameplay .Gameplay__grid .Gameplay__grid--two.text {
    grid-column: span 2; }
  section.Gameplay .Gameplay__grid .Gameplay__grid--two.image {
    grid-column: span 1; }
  section.Gameplay .Gameplay__grid .Gameplay__grid--three.text {
    grid-column: span 2; }
  section.Gameplay .Gameplay__grid .Gameplay__grid--three.image {
    grid-column: span 1; }
  section.Gameplay .Gameplay__grid img {
    max-width: 100%; }

@media only screen and (max-width: 850px) {
  nav.Nav ul .Nav__toggle {
    color: red;
    display: flex; }
  nav.Nav ul span.Nav--items {
    flex-direction: column;
    background: #a4c2d8;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.3), inset 20px 10px 20px #a4c2d8, inset -20px 10px 20px #a4c2d8;
    position: absolute;
    top: 0;
    right: 0;
    visibility: none;
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity .1s linear; }
    nav.Nav ul span.Nav--items li {
      padding: 3vw 6vw; }
  nav.Nav.open ul span.Nav--items {
    display: flex;
    visibility: visible;
    opacity: 1; }
  nav.Nav.open ul .Nav__toggle__icon .Nav__toggle--bar {
    margin-top: 0;
    margin-bottom: 0; }
    nav.Nav.open ul .Nav__toggle__icon .Nav__toggle--bar.top {
      transform: translate(0, 100%) rotate(-45deg); }
    nav.Nav.open ul .Nav__toggle__icon .Nav__toggle--bar.middle {
      opacity: 0; }
    nav.Nav.open ul .Nav__toggle__icon .Nav__toggle--bar.bottom {
      transform: translate(0, -100%) rotate(45deg); } }
